<form action="/user/register" method="POST">
  <strong>
    Name:
  </strong>
  <input type="text" name="name">
  <strong>
    Username:
  </strong>
  <input type="text" name="username">
  <strong>
    Password:
  </strong>
  <input type="password" name="password">
  <strong>
    Age:
  </strong>
  <input type="number" name="age">
  <strong>
    Marriage Status:
  </strong>
  <input type="string" name="marriageStatus">
  <input type="submit" value="Sign up!">
</form>
